app:
  internal-token: ${APP_INTERNAL_TOKEN}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}

spring.rabbitmq:
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_USERNAME}
  password: ${RABBITMQ_PASSWORD}
  virtual-host: ${RABBITMQ_VIRTUAL_HOST}

  exchanges:
    order: order.exchange
    cart: cart.exchange
    inventory: inventory.exchange
    payment: payment.exchange

  queues:
    inventory-reserve: inventory.reserve.queue
    inventory-rollback: inventory.rollback.queue
    inventory-sync: inventory.sync.db.queue
    cart-sync: cart.sync.db.queue
    order: order.queue
    order-reply: order.reply.queue
    payment-initiate: payment.initiate.queue
    payment-failed: payment.failed.queue

  routing-keys:
    inventory-reserve: inventory.reserve.key
    inventory-rollback: inventory.rollback.key
    inventory-sync: inventory.update.key
    cart-sync: cart.update.key
    order: order.key
    order-reply: order.reply.key
    payment-initiate: payment.initiate.key
    payment-failed: payment.failed.key

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] %c - %m%n"

  level:
    org.springframework.amqp: DEBUG
    com.hanguyen.cart_service.service.CartService: DEBUG

server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: identity-service
  datasource:
    url: ${IDENTITY_SERVICE_DB_URL}
    username: ${IDENTITY_SERVICE_DB_USER}
    password: ${IDENTITY_SERVICE_DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  cache:
    type: redis
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  json:
    add:
      type:
        headers: true

jwt:
  signerKey: ${IDENTITY_SERVICE_JWT_SIGNER_KEY}
  valid-duration: 3600
  refreshable-duration: 36000

outbound:
  identity:
    client-id: ${CLIENT_ID}
    client-secret: ${CLIENT_SECRET}
    redirect-uri: ${REDIRECT_URIS}