services:
  kafka:
    image: bitnamilegacy/kafka:3.7.0
    container_name: kafka
    hostname: kafka
    ports:
      - '9094:9094'
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
    networks:
      - bookteria-net

  rabbitmq_bookteria:
    image: rabbitmq:4.1.5-management-alpine
    container_name: rabbitmq_bookteria
    hostname: rabbitmq_bookteria
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=rabbitmq_user
      - RABBITMQ_DEFAULT_PASS=rabbitmq_password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

    networks:
      - bookteria-net


  elasticsearch:
    image: elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    networks:
      - bookteria-net

  dozzle:
    image: amir20/dozzle:pr-4271
    container_name: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8888:8080"
    networks:
      - bookteria-net

  discovery-server:
    image: ${DOCKER_USERNAME}/discovery-server:latest
    container_name: discovery-server
    ports:
      - "8761:8761"
    networks:
      - bookteria-net
    env_file: ./.env

  api-gateway:
    image: ${DOCKER_USERNAME}/api-gateway:latest
    container_name: api-gateway
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "9000:9000"
    networks:
      - bookteria-net
    env_file: ./.env


  identity-service:
    image: ${DOCKER_USERNAME}/identity-service:latest
    container_name: identity-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - bookteria-net
    env_file: ./.env


  profile-service:
    image: ${DOCKER_USERNAME}/profile-service:latest
    container_name: profile-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8081:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  product-service:
    image: ${DOCKER_USERNAME}/product-service:latest
    container_name: product-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8082:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  search-service:
    image: ${DOCKER_USERNAME}/search-service:latest
    container_name: search-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8083:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  inventory-service:
    image: ${DOCKER_USERNAME}/inventory-service:latest
    container_name: inventory-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8084:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  cart-service:
    image: ${DOCKER_USERNAME}/cart-service:latest
    container_name: cart-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8085:8080"
    networks:
      - bookteria-net
    env_file: ./.env


  order-service:
    image: ${DOCKER_USERNAME}/order-service:latest
    container_name: order-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8086:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  payment-service:
    image: ${DOCKER_USERNAME}/payment-service:latest
    container_name: payment-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8087:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  notification-service:
    image: ${DOCKER_USERNAME}/notification-service:latest
    container_name: notification-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8088:8080"
    networks:
      - bookteria-net
    env_file: ./.env

  file-service:
    image: ${DOCKER_USERNAME}/file-service:latest
    container_name: file-service
    depends_on:
      discovery-server:
        condition: service_started
    ports:
      - "8089:8080"
    networks:
      - bookteria-net
    env_file: ./.env



volumes:
  rabbitmq_data:
  elastic_data:

networks:
  bookteria-net:
    driver: bridge
