app:
  internal-token: ${APP_INTERNAL_TOKEN}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}
spring:
  application:
    name: file-service
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${IDENTITY_SERVICE_JWK_URI}
spring.rabbitmq:
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_USERNAME}
  password: ${RABBITMQ_PASSWORD}
  virtual-host: ${RABBITMQ_VIRTUAL_HOST}

  exchanges:
    order: order.exchange
    cart: cart.exchange
    inventory: inventory.exchange
    payment: payment.exchange

  queues:
    inventory-reserve: inventory.reserve.queue
    inventory-rollback: inventory.rollback.queue
    inventory-sync: inventory.sync.db.queue
    cart-sync: cart.sync.db.queue
    order: order.queue
    order-reply: order.reply.queue
    payment-initiate: payment.initiate.queue
    payment-failed: payment.failed.queue

  routing-keys:
    inventory-reserve: inventory.reserve.key
    inventory-rollback: inventory.rollback.key
    inventory-sync: inventory.update.key
    cart-sync: cart.update.key
    order: order.key
    order-reply: order.reply.key
    payment-initiate: payment.initiate.key
    payment-failed: payment.failed.key

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] %c - %m%n"

  level:
    org.springframework.amqp: DEBUG
    com.hanguyen.cart_service.service.CartService: DEBUG

server:
  port: 8083
  servlet:
    context-path: /file

cloudinary:
  cloud_name: ${FILE_SERVICE_CLOUDINARY_CLOUD_NAME}
  api_key: ${FILE_SERVICE_CLOUDINARY_API_KEY}
  api_secret: ${FILE_SERVICE_CLOUDINARY_API_SECRET}