app:
  internal-token: ${APP_INTERNAL_TOKEN}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE}

spring.rabbitmq:
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_USERNAME}
  password: ${RABBITMQ_PASSWORD}
  virtual-host: ${RABBITMQ_VIRTUAL_HOST}
  exchanges:
    order: order.exchange
    cart: cart.exchange
    inventory: inventory.exchange
    payment: payment.exchange
    notification: notification.exchange
  queues:
    inventory-reserve: inventory.reserve.queue
    inventory-rollback: inventory.rollback.queue
    payment-initiate: payment.initiate.queue
    inventory-sync: inventory.sync.db.queue
    cart-sync: cart.sync.db.queue
    notification-order-completed: notification.order.completed.queue
    order-timeout: order.timeout.queue
    order-delay: order.delay.queue
    inventory-reserve-reply: inventory.reserve.reply.queue
    inventory-oot-reply: inventory.oot.reply.queue
    inventory-error-reply: inventory.error.reply.queue
    inventory-rollback-reply: inventory.rollback.reply.queue
    payment-init-reply: payment.init.reply.queue
    payment-success-reply: payment.success.reply.queue
    payment-failed-reply: payment.failed.reply.queue
  routing-keys:
    inventory-reserve: inventory.reserve.key
    inventory-rollback: inventory.rollback.key
    payment-initiate: payment.initiate.key
    inventory-sync: inventory.sync.db.key
    cart-sync: cart.sync.db.key
    notification-order-completed: notification.order.completed.key
    order-timeout: order.timeout.key
    order-delay: order.delay.key
    inventory-reserve-reply: inventory.reserve.reply.key
    inventory-oot-reply: inventory.oot.reply.key
    inventory-error-reply: inventory.error.reply.key
    inventory-rollback-reply: inventory.rollback.reply.key
    payment-init-reply: payment.init.reply.key
    payment-success-reply: payment.success.reply.key
    payment-failed-reply: payment.failed.reply.key

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] %c - %m%n"
  level:
    org.springframework.amqp: DEBUG
    com.hanguyen.cart_service.service.CartService: DEBUG

server:
  port: 8086

spring:
  application:
    name: inventory-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    consumer:
      group-id: inventory-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: "com.hanguyen.product_service.dto.event.ProductEvent:com.hanguyen.inventory_service.dto.event.ProductEvent"
  data:
    mongodb:
      uri: mongodb+srv://${MONGODB_USER}:${MONGODB_PASS}@${MONGODB_CLUSTER_HOST}/inventory_db?appName=${MONGODB_APP_NAME}
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://identity-service:8080/identity/.well-known/jwks.json