name: Deploy Bookteria

on:
  push:
    branches: ["main"]

jobs:
  build_and_push :
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Nếu 1 service build lỗi, vẫn build 11 service còn lại
      matrix:
        service:
          - api-gateway
          - cart-service
          - discovery-server
          - file-service
          - identity-service
          - inventory-service
          - notification-service
          - order-service
          - payment-service
          - product-service
          - profile-service
          - search-service
    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4
      - name: 2. Set up QEMU # hỗ trợ build đa kiến trúc (arm64, amd64, v.v.)
        uses: docker/setup-qemu-action@v3

      - name: 3. Set up Docker Buildx # build hiệu năng cao, có hỗ trợ cache layer, multi-stage, parallel build.
        uses: docker/setup-buildx-action@v3

      - name: 4. Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 5. Build and Push Image
        uses: docker/build-push-action@v5
        with:
            context: ./${{ matrix.service }}
            file: ./${{ matrix.service }}/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest

            cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:buildcache
            cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:buildcache,mode=max

  deploy:
    runs-on: ubuntu-latest

    needs: build_and_push

    steps:
      - name: 1. Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_SSH_KEY }}
          port: 22
          script: |
            cd ~/bookteria
            
            git pull
            
            echo "${{ secrets.ENV_FILE }}" > .env
            
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> .env
            
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            
            docker-compose pull
            
            docker-compose up -d --remove-orphans